<h1 class= "page-header">Jobs Sorted by <%= @criteria.capitalize %></h1>
<% @result.each do |k,jobs| %>
  <div class= "criteria_<%= k %>">
  <h4><%= k %> </h4>
  <% jobs.each do |job| %>
    <%= link_to job.title, company_job_path(job.company, job) %><br>
  <% end %>
</div><br>
<% end %>
