
#bootstrap-overrides {
  font-family: 'Roboto Slab', serif;
}

button {
  color: white;
}

.job-logo {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
}

.index-name {
  font-size: 25px;
}

nav {
  background-color: #FFD700
  /*background-image: url("/Users/ellencooper/turing/2module/projects/job-tracker/app/assets/images/money.png");*/
}
